{% extends 'prelogintemplate.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title xmlns="http://www.w3.org/1999/html">Account - Register</title>
{% endblock title %}


{% block body %}
  <div class="container mt-5">
  <p><h3>New Account Registration.....</h3></p>

      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}


      <form method="post" class="mt-5 col-6">
          {% csrf_token%}
          {{register_form|crispy}}
          <button type="submit" class="btn btn-primary mt-3">Register</button>
      </form>
  </div>



{% endblock body %}